name: Stack-action
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  merge_group:
    branches:
      - master

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: freckle/stack-action/generate-matrix@v5
        id: generate
    outputs:
      stack-yamls: ${{ steps.generate.outputs.stack-yamls }}

  test:
    needs: generate-matrix
    strategy:
      matrix:
        stack-yaml: [stack-9.4.yaml,stack-9.12.yaml]
          # ${{ fromJSON(needs.generate-matrix.outputs.stack-yamls) }}
      fail-fast: false

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: freckle/stack-action@v5
        with:
          stack-arguments: --stack-yaml ${{ matrix.stack-yaml }}
          cache-save-always: true

  macOS:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v6
      - uses: freckle/stack-action@v5
        with:
          cache-save-always: true

  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: freckle/stack-action@v5
        with:
          cache-save-always: true
